<% articles.each do |article| %>
  <tr>
    <td><%= link_to article.title, article_path(article) %></td>
    <td><%= article.text.truncate(50) %></td>
   <!--  <td><%= link_to User.find(article.user_id).full_name, user_path(article.user_id) %></td>
    
 -->
 	<% if current_user.authorities %>
    	<td><%= link_to "Delete Article",  article_path(article) ,
	        				method: :delete,
	        				data: {confirm: "Are you sure?"} %></td>
 	<% end %>
  </tr>
<% end %>