<div class="container">

	<h1>List Article</h1>
	<table class="table">
	  <thead>
	    <th>Title</th>
	    <th>Content</th>
	    <th></th>
	  </thead>
	  <tbody>
	    <%= render "list_article", articles: @articles %>
	    
	  </tbody>
	</table>
	<p><%= will_paginate @articles %></p>


</div>
