<!DOCTYPE html>
<html>
<head>
	<title>Coach Radar</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light">
		  
		  <div class="collapse navbar-collapse">
		    <a class="navbar-brand" href="#"><i class="fa fa-codiepie">oachRadar</i></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		  </div>
		  <ul class="nav navbar-nav navbar-right">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Become a Coach <span class="sr-only">(current)</span></a>
		      </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Login</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Sign up</a>
			  </li>
		  </ul>
		</nav>
		
	</header>
	<section class="headingab">
		<div class="text-center container-fluid">
			<h1>About Us</h1>
			<p>The go-to booking platform connecting parents and kids <br>with trusted sports coaches in Singapore</p>
		</div>
	</section>
	<section >
		<div class="container" id="introus">
			<p class="text-center">Loremipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="row" id="iprofit">
			<div class="col-md-2 offset-md-2" style="text-align:center; padding-right:20px; border-right:2px solid #ccc;" >
				<i class="fa fa-address-card fa-4x" aria-hidden="true" "></i>
				<h1>Verified Reviews From Other Parents</h1>
			</div>
			<div class="col-md-2  " style="text-align:center;padding-right:20px; border-right: 2px solid #ccc;">
				<i class="fa fa-amazon fa-4x" aria-hidden="true"></i>
				<h1>Access To Trusted Coaches</h1>
			</div>
			<div class="col-md-2 " style="text-align:center;padding-right:20px; border-right: 2px solid #ccc;">
				<i class="fa fa-adn fa-4x" aria-hidden="true"></i>
				<h1>No hidden charges</h1>
			</div>
			<div class="col-md-2" style="text-align:center">
				<i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
				<h1>Earn Rewards As You Use</h1>
			</div>
		</div>
		<hr  width="100%" align="center" style="margin-bottom:50px;" /> 
		<h4 class="text-center">Develop your kid's talents today!</h4>
		<div id="develop">	
			<div class="row">
				<div class="col-md-4 offset-md-2">
					<div class="media">
					  <div class="align-self-center mr-3">
					  	<h4 class="numblue">1</h4>
					  </div>
					  <div class="media-body">
					    <h4 class="mt-0">Find your ideal coach</h4>
						<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media">
					  <div class="align-self-center mr-3">
					  	<h4 class="numblue">2</h4>
					  </div>
					  <div class="media-body">
					    <h4 class="mt-0">Request Booking</h4>
						<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					  </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-2">
					<div class="media">
					  <div class="align-self-center mr-3">
					  	<h4 class="numblue">3</h4>
					  </div>
					  <div class="media-body">
					    <h4 class="mt-0">Embark on the lessons</h4>
						<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media">
					  <div class="align-self-center mr-3">
					  	<h4 class="numblue">4</h4>
					  </div>
					  <div class="media-body">
					    <h4 class="mt-0">Leave Review</h4>
						<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="What" class="container-fluid">
		<h2 class="text-center">What parents say</h2>
		<br>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<div class="row">
		    				<div class="col-sm-2">
				    			<a class="post-avatar thumbnail"><%= image_tag "user.png" %></a>
				    		</div>
				    		<div class="col-sm-10">
				    			<div class="bubble">
				    				<p>1 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    			</div>
				    		</div>
		    			</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="row">
		    				<div class="col-sm-2">
				    			<a class="post-avatar thumbnail"><%= image_tag "user.png" %></a>
				    		</div>
				    		<div class="col-sm-10">
				    			<div class="bubble">
				    				<p>2 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    			</div>
				    		</div>
		    			</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="row">
		    				<div class="col-sm-2">
				    			<a class="post-avatar thumbnail"><%= image_tag "user.png" %></a>
				    		</div>
				    		<div class="col-sm-10">
				    			<div class="bubble">
				    				<p>3 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    			</div>
				    		</div>
		    			</div>
		    		</div>
						    		
		    	</div>
		      
		    </div>
		    <div class="carousel-item">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<div class="row">
		    				<div class="col-sm-2">
				    			<a class="post-avatar thumbnail"><%= image_tag "user.png" %></a>
				    		</div>
				    		<div class="col-sm-10">
				    			<div class="bubble">
				    				<p>4 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    			</div>
				    		</div>
		    			</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="row">
		    				<div class="col-sm-2">
				    			<a class="post-avatar thumbnail"><%= image_tag "user.png" %></a>
				    		</div>
				    		<div class="col-sm-10">
				    			<div class="bubble">
				    				<p>5 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    			</div>
				    		</div>
		    			</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="row">
		    				<div class="col-sm-2">
				    			<a class="post-avatar thumbnail"><%= image_tag "user.png" %></a>
				    		</div>
				    		<div class="col-sm-10">
				    			<div class="bubble">
				    				<p>6 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    			</div>
				    		</div>
		    			</div>
		    		</div>
						    		
		    	</div>
		    </div>
		    <div class="carousel-item">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<div class="row">
		    				<div class="col-sm-2">
				    			<a class="post-avatar thumbnail"><%= image_tag "user.png" %></a>
				    		</div>
				    		<div class="col-sm-10">
				    			<div class="bubble">
				    				<p>7 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    			</div>
				    		</div>
		    			</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="row">
		    				<div class="col-sm-2">
				    			<a class="post-avatar thumbnail"><%= image_tag "user.png" %></a>
				    		</div>
				    		<div class="col-sm-10">
				    			<div class="bubble">
				    				<p>8 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    			</div>
				    		</div>
		    			</div>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="row">
		    				<div class="col-sm-2">
				    			<a class="post-avatar thumbnail"><%= image_tag "user.png" %></a>
				    		</div>
				    		<div class="col-sm-10">
				    			<div class="bubble">
				    				<p>9 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				    			</div>
				    		</div>
		    			</div>
		    		</div>
						    		
		    	</div>
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		<hr  width="100%" align="center" style="margin:40px 0;" /> 
		<div class="nearf">
			<div class="row">
				<div class="col-md-3" id="coachr">
		    		<a class="navbar-brand" href="#"><i class="fa fa-codiepie">oachRadar</i></a>
		    		<p>CoachRadar 2018, all rights reserved</p>
				</div>
				<div class="col-md-3">
		    		<a class="navbar-brand" href="#">Sports</a>
		    		<p>We have wide variety of sports catgories</p>
		    		<div class="row afontsm">
		    			<div class="col-sm-3">
		    				<a class="navbar-brand" href="#">Basketball |</a>
		    			</div>
		    			<div class="col-sm-3">
		    				<a class="navbar-brand" href="#">Basketball |</a>
		    			</div>
		    			<div class="col-sm-3">
		    				<a class="navbar-brand" href="#">Basketball |</a>
		    			</div>
		    			<div class="col-sm-3">
		    				<a class="navbar-brand" href="#">Basketball |</a>
		    			</div>
		    		</div>
					
				</div>

				<div class="col-md-2">
					
				</div>
				<div class="col-md-2">
					
				</div>
			</div>
		</div>

	</section>
	<footer>
		
	</footer>
</body>
</html>