@import 'vendors/_bootstrap.scss';

/* Vars */
$primary-color: #3B5A76;
$background-color: #ededed;
$text-color: #363636;
$font: 16px;

body{
	padding-bottom:0;
	font-family: 'Open Sans', Arial, Tahoma;
	color: $text-color;
	background: $background-color;
	font-size: $font;
}
h2{
	font-weight:700;
	text-transform:uppercase;
	line-height:1.4em;
	font-size: 1.5em;
}
.primary, h2, strong{
	color: $primary-color;
}

.container-main{
	background:#fff;
	margin-top:80px;
	padding: 0 30px 30px 30px;
}

header{
	min-height:100px;
	overflow:auto;
}
header h1{
	margin:0;
	padding: 20px 0 0 0;
	font-size: 2.2en;
	font-weight:700;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-align:center;
	line-height:1.4em;

}
.row {
	margin-bottom: 20px;
}
.profile-img{
	width:160px;
	display: block;
	margin: auto;
	margin-top: -80px;
}

.line{
	max-width: 100%;
}

.contact-list{
	padding:0;
	margin:0;
}
.contact-list li{
	list-style:none;
	font-weight:bold;
	line-height:3.2em;
}

.contact-list span{
	display: block;
	margin:0;
	padding:0;
	line-height:0.1em;
	margin-left:37px;
	font-size:15px;
	color:#ccc;
}

.media{
	background:$background-color;
	padding:10px;
}

.work-list li{
	list-style:none;
	float: left;
	padding:0 10px 0 10px;
	margin-bottom: 30px;
}
footer{
	background: $primary-color;
	color:#fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}