<h1>Listing users</h1>
 <%= link_to 'New user', new_user_path %>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Show user', user_path(user) %></td>

    </tr>
  <% end %>
</table>