<div class="container">
	<div class="row">
		<h1>Edit info</h1>
		 
		<%= form_with(model: current_user, local: true)  do |f| %>
                <div class="form-group">
                  <%= f.label :"full_name" %>
                  <%= f.text_field :full_name, placeholder: "Enter full name", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :"email" %>
                  <%= f.text_field :email, placeholder: "Enter email ", class: "form-control" %>
                </div>

                <input type="checkbox" id="checkbox">Change Password 

                <div id="change_pass">
                  <div class="form-group">
                    <%= f.label :new_password %>
                    <%= f.password_field :new_password, placeholder: "Enter your new password",
                      class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :confirm_new_password %>
                    <%= f.password_field :confirm_new_password, placeholder: "Comfirm your new password",
                      class: "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, placeholder: "Enter your password",
                    class: "form-control" %>
                </div>

                
                <div class="text-center">
                  <%= f.submit "Update", class: "btn btn-info col-lg-12" %>
                </div>
      <% end %>
		<p class="text-right"><%= link_to "Delete User", user_path(current_user),
                                    method: :delete,
                                    data: {confirm: "Are you sure?"} %></p>
		<p class="text-left"> <%= link_to 'Back', users_path %> </p>
    
    
	</div>
</div>
<script>
    $('#change_pass').hide();
    $('#checkbox').click(function(){
        if ($(this).is(":checked")) {
            console.log("checked")
            $('#change_pass').show();
        }
        else {
            console.log("unchecked")
            $('#change_pass').hide();
        }
    })
</script>
