<div class="row">
  <div class="col-lg-offset-2">
    <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
      <div class="form-group">
        <%= f.label :name, "User Name", class: "col-md-2 control-label" %>
        <div class="col-md-6">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter user name without space" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :full_name, class: "col-md-2 control-label" %>
        <div class="col-md-6">
          <%= f.text_field :full_name, class: "form-control", placeholder: "Enter full name" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, class: "col-md-2 control-label" %>
        <div class="col-md-6">
          <%= f.text_field :email, class: "form-control", placeholder: "Enter your email" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password", class: "col-md-2 control-label" %>
        <div class="col-md-6">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation", class: "col-md-2 control-label" %>
        <div class="col-md-6">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password confirmation" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-4">
          <%= f.submit "Register", class: "btn btn-success" %>
        </div>
        <div class="text-center">
          <%= link_to "Has a account?", login_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>
